*{
    margin: 0;
    padding: 0;
}
html{
    background: #FFF;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
}
body{
    padding: 0 8.51rem;
    /* font-size: 100%; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.89rem;
}
.logo{
    font-style: normal;
    font-weight: bold;
    font-size: 1.67rem;
    line-height: 130%;
    color: #C51103;
    margin: 0 3.75rem 0 0;
}
.menu_logo{
    display: flex;
    align-items: center;
}
.menu{
    width: 1.91rem;
    height: 1.55rem;
    margin-right: 0.63rem;
}
.phone_information{
    /* font-family: Inter; */
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 130%;
    color: #999999;
    margin-top: 0.11rem;
}
.numbers{
    font-style: normal;
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 130%;
    color: #82B2A2;
}
.entrance{
    border: 0.10rem solid #82B2A2;
    height: 3.08rem;
    width: 10.08rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* font-family: Inter; */
    font-style: normal;
    font-weight: normal;
    font-size: .83rem;
    line-height: 150%;
    color: #4A4A4A;
}
main{
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 0.36rem;
}
.telephone{
    width: 45.21rem;
    height: 25.8rem;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 2.87rem;
    line-height: 130%;
    width: 30rem;
}
.telephone_number{
    font-style: normal;
    font-weight: bold;
    font-size: 2.87rem;
    line-height: 130%;
    color: #82B2A2;
}
.block_phone_numbers{
    width: auto;
    display: flex;
    justify-content:space-between;
    margin-top: 1.15rem;
    margin-bottom: 3.75rem;
}
.headlines{
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 130%;
}
li{
    /* font-family: Inter; */
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 150%;
    margin-top: 1.25rem;
    list-style-type: none;
}
li:before {
    content: "- ";
}
.housing_and_utilities{
    /* width: 26.53rem; */
    width: calc(31.97% - 3.38rem);
    padding: 1.67rem 1.3rem 3.33rem 2.08rem;
    background: #F2F7F6;
    margin-right: 2.037%; /* 1.69rem; */
}
.one{
    width: 65.95%;
}
.healthcare{
    width: calc(48.45% - 3.38rem);
    padding: 1.67rem 1.3rem 3.33rem 2.08rem;
    background: #F2F7F6;
    margin-right: 3.09%;
}
.social{
    width: calc(48.45% - 3.38rem);
    padding: 1.67rem 1.3rem 3.33rem 2.08rem;
    background: #F2F7F6;
}
.volunteering{
    /* width: 54.76rem; */
    /* height: 13.33rem; */
    padding: 1.67rem 50% 3.33rem 2.08rem;
    background: #F2F7F6;
    margin-top: 1.67rem;
}
.two{
    width: auto;
    display: flex;
    justify-content:space-between;
}
.statistic{
    display: flex;
    justify-content: center;
    margin-bottom: 4.17rem;
}
.indicators{
    font-style: normal;
    font-weight: bold;
    font-size: 2.87rem;
    line-height: 130%;
    color: #82B2A2;
    margin-right: 0.98rem;
}
.applications{
    /* font-family: Inter; */
    font-style: normal;
    font-weight: bold;
    font-size: 0.94rem;
    line-height: 150%;
    width: 9.3rem;
}
.div_one{
    display: flex;
    align-items: center;
}
.div_one:nth-child(1) .applications{
    width: 8.3rem;
}
.div_one:nth-child(2){
    margin: 0 6.07rem 0 6.48rem;
}
.map_of_outages{
    border: 0.1rem solid #C0E4E4;
    border-right: none;
    border-left: none;
    margin: 0 -8.51rem 0 -8.51rem;
    padding: 2.53rem 8.51rem 3.39rem 8.51rem;


}
.map{
    width: 82.98rem;
    height: 18.73rem;
    margin-top: 1.62rem;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 1.88rem;
    line-height: 130%;
}
.map_of_outages_text{
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 2.5rem;
    margin-bottom: 3.06rem;
}
.logo_two{
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130%;
    color: #C51103;
    margin-right: 1.31rem;
}
.block_logo_entrance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.06rem;
}
.block_logo{
    display: flex;
    align-items: center;
}
.text_logo{
    font-style: normal;
    font-weight: normal;
    font-size: 0.94rem;
    line-height: 140%;
    width: 15.89rem;
}
.background_information{
    display: flex;
    justify-content: space-between;
}
.background_information div:nth-child(1){
    width: 12.5rem;
}
.background_information div:nth-child(2){
    width: 15.94rem;
}
.background_information div:nth-child(3){
    width: 15.83rem;
}
.background_information div:nth-child(4){
    width: 11.3rem;
}
.icon_one{
    width: 1.06rem;
    height: 0.75rem;
}
.icon_two{
    width: 1.25rem;
    height: 0.92rem;
}
.mobel_text{
    display: none;
    /* font-family: Inter; */
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 150%;
    color: #1F1F1F;
    margin: 3.5vw 0 3vw 0;
}
@media screen and (max-width: 425px) {
    html{
        font-size: 3.5vw;
    }
    body{
        padding: 0 1.05rem;
    }
    header div:not(:nth-child(1)), 
    .entrance,
    .telephone{
        display: none;
    }
    .menu_logo{
        width: 100%;
        flex: auto;
    }
    .logo{
        font-size: 2.55rem;
        margin-right: auto;
    }
    .phone_information {
        font-size: 1.44rem;
    }
    .menu {
        width: 2.91rem;
        height: 2.341em;
        margin-right: 0.953rem;
    }
    main{
        margin-top: 2.5rem;
    }
    .title, .telephone_number{
        font-size: 1.75rem;
        line-height: 130%;
        width: 75%;
    }


    .block_phone_numbers, .two{
        flex-direction: column;
    }

    .housing_and_utilities, .healthcare,.social, .volunteering{
        width: calc(100% - 3.38rem);
        margin-right: 0;
    }
    .one{
        width: 100%;
    }
    .housing_and_utilities, .one, .healthcare,.social{
        margin-bottom: 4.4vw;
    }
    .volunteering{
        padding: 1.67rem 1.3rem 3.33rem 2.08rem;
        margin-top: 0;
    }
    .statistic{
        flex-direction: column;
        align-items: center;
    }
    .div_one, .div_one:nth-child(2){
        margin: 0 0 2rem 0;
    }
    .div_one .applications{
        width: 11.8rem !important;
    }

    .indicators{
        font-size: 3.67rem;
    }
    .applications{
        font-size: 1.22rem;
    }
    .map {
        width: 100%;
        object-fit: cover;
    }
    .map_of_outages {
        margin: 0 -1.05rem 0 -1.05rem;
        padding: 2.53rem 1.05rem 3.39rem 1.05rem;
    }
    .map_of_outages_text{
        flex-direction: column;
    }
    .background_information {
        flex-direction: column;
    }
    .background_information div:not(:last-child){
        margin-bottom: 1.8rem;
    }
    .mobel_text{
        display: block;
    }
}